<mat-drawer-container autosize hasBackdrop="true" class="flex flex-col md:flex-row items-start relative">
  <mat-drawer #drawer mode="over">
    <div class="box-border flex flex-col gap-24 py-5 px-6">
      <div class="flex flex-col items-start gap-8">
        <div class="flex items-center justify-between w-full min-w-[300px]">
          <img class="max-w-[100px]" alt="Bridge Financial logo" src="/assets/images/Bridge-logo.png" />
          <button mat-icon-button class="text-left" (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex flex-row items-center justify-start gap-5">
            <app-avatar />
            <div class="space-y-1">
              <p>
                <strong
                  >{{ this.auth.getUser()?.first_name || 'Unknown' }}
                  {{ this.auth.getUser()?.last_name || 'Name' }}</strong
                >
              </p>
              <p>{{ this.auth.getUser()?.email }}</p>
            </div>
          </div>
          <a class="flex items-center justify-start gap-2 cursor-pointer" (click)="logout()">
            <mat-icon color="accent">logout</mat-icon>
            <p class="no-underline text-bridge-black">Log out</p>
          </a>
        </div>
      </div>
      <div class="flex flex-col w-full items-stretch justify-start gap-1">
        @for (tab of tabs; track $index) {
          <a
            [ngClass]="{ 'bg-gray-200': activeChildRoute === tab.route.path }"
            class="group w-full p-4 flex items-center justify-start gap-2 rounded-lg cursor-pointer hover:bg-gray-200"
            [routerLink]="['/portal/' + tab.route.path]"
            (click)="drawer.toggle()"
          >
            <div
              class="w-6 h-6 flex items-center justify-center p-1 group-hover:text-bridge-black"
              [ngClass]="{
                'text-gray-400': activeChildRoute !== tab.route.path,
                'text-bridge-black': activeChildRoute === tab.route.path
              }"
            >
              <svg width="100%" height="100%">
                <use
                  [attr.xlink.href]="'/assets/icons/' + tab.icon + '.svg#' + tab.icon"
                  [attr.href]="'/assets/icons/' + tab.icon + '.svg#' + tab.icon"
                ></use>
              </svg>
              <!-- <img class="w-full" src="{{ '/assets/icons/' + tab.icon + '.svg' }}" /> -->
            </div>
            <p
              [ngClass]="{
                'font-semibold text-gray-400': activeChildRoute !== tab.route.path,
                'font-bold text-bridge-black': activeChildRoute === tab.route.path
              }"
              class="text-[16px] group-hover:text-bridge-black group-hover:font-bold"
            >
              {{ tab.label }}
            </p>
          </a>
        }
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="h-screen w-screen flex flex-col md:flex-row items-stretch justify-stretch">
      <!-- MOBILE HEADER -->
      <div class="sticky w-screen top-0 md:hidden bg-white">
        <div class="w-full grid grid-cols-3 p-4">
          <!-- LEFT MOBILE HEADER -->
          <div>
            <button mat-icon-button class="text-left" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <!-- CENTER MOBILE HEADER -->
          <div class="flex items-center justify-center">
            <a [routerLink]="['/']">
              <img class="max-w-[100px]" alt="Bridge Financial logo" src="/assets/images/Bridge-logo.png" />
            </a>
          </div>
          <!-- RIGHT MOBILE HEADER -->
          <div></div>
        </div>
        <div class="w-full h-[3px] linear-gradient-orange-purple-blue"></div>
      </div>
      <!-- DESKTOP NAV -->
      <div
        class="h-full grow-0 hidden md:flex flex-col basis-[250px] box-border py-7 px-5 bg-white border-0 border-r border-solid border-gray-300"
      >
        <a class="mx-auto mb-16" [routerLink]="['/']">
          <img class="max-w-[120px]" alt="Bridge logo" src="/assets/images/Bridge-logo.png" />
        </a>
        <div class="flex flex-col w-full items-stretch justify-start gap-1">
          @for (tab of tabs; track $index) {
            <a
              [ngClass]="{ 'bg-gray-200': activeChildRoute === tab.route.path }"
              class="group w-full p-4 flex items-center justify-start gap-2 rounded-lg cursor-pointer hover:bg-gray-200"
              [routerLink]="['/portal/' + tab.route.path]"
            >
              <div
                class="w-6 h-6 flex items-center justify-center p-1 group-hover:text-bridge-black"
                [ngClass]="{
                  'text-gray-400': activeChildRoute !== tab.route.path,
                  'text-bridge-black': activeChildRoute === tab.route.path
                }"
              >
                <svg width="100%" height="100%">
                  <use
                    [attr.xlink.href]="'/assets/icons/' + tab.icon + '.svg#' + tab.icon"
                    [attr.href]="'/assets/icons/' + tab.icon + '.svg#' + tab.icon"
                  ></use>
                </svg>
                <!-- <img class="w-full" src="{{ '/assets/icons/' + tab.icon + '.svg' }}" /> -->
              </div>
              <p
                [ngClass]="{
                  'font-semibold text-gray-400': activeChildRoute !== tab.route.path,
                  'font-bold text-bridge-black': activeChildRoute === tab.route.path
                }"
                class="text-[16px] group-hover:text-bridge-black group-hover:font-bold"
              >
                {{ tab.label }}
              </p>
            </a>
          }
        </div>
      </div>
      <!-- BODY -->
      <div class="grow bg-gray-50 w-full overflow-auto">
        <div class="w-full max-w-[1200px] px-4 py-8 md:px-10 md:py-6 box-border">
          <!-- Body Header and Profile Dropdown -->
          <div class="flex items-center justify-between w-full text-bridge-black py-2">
            <h1>{{ activeChildRoute[0].toLocaleUpperCase() + activeChildRoute.slice(1) }}</h1>
            <a
              class="hidden md:flex items-center gap-2 p-2 cursor-pointer hover:bg-gray-200"
              [matMenuTriggerFor]="menu"
            >
              <div class="w-16 h-16 rounded-lg bg-white flex items-center justify-center">
                <mat-icon color="accent">person</mat-icon>
              </div>
              <mat-icon color="accent">keyboard_arrow_down</mat-icon>
            </a>
            <mat-menu #menu="matMenu" class="p-4">
              <div class="space-y-4">
                <div class="space-y-1">
                  <p>
                    <strong
                      >{{ this.auth.getUser()?.first_name || 'Unknown' }}
                      {{ this.auth.getUser()?.last_name || 'Name' }}</strong
                    >
                  </p>
                  <p>{{ this.auth.getUser()?.email }}</p>
                </div>
                <a class="flex items-center justify-start gap-2 cursor-pointer" (click)="logout()">
                  <mat-icon color="accent">logout</mat-icon>
                  <p class="no-underline text-bridge-black">Log out</p>
                </a>
              </div>
            </mat-menu>
          </div>
          <!-- Outlet -->
          <router-outlet />
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
